### CI/CD ###
staging

### Syntax ###
black
isort
noprint
pylint

### Versioning ###
bump-my-version

### Testing ###
mock
pytest
pytest-sugar
pytest-xdist
pytest-asyncio
pytest-timeout
coverage[toml]